# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env / secrets
.env

# Model / data caches
.cache/
models_cache/
*.faiss

# OS
.DS_Store

# Streamlit
.streamlit/

# Notebooks
.ipynb_checkpoints/

# Editors
.vscode/
.idea/
